<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.hhly.mapper.CaseMapper">
    <resultMap id="BaseResultMap" type="com.cn.hhly.dao.Case">
        <id column="ID" jdbcType="BIGINT" property="id" />
        <result column="TITLE" jdbcType="VARCHAR" property="title" />
        <result column="CODE" jdbcType="VARCHAR" property="code" />
        <result column="REASON" jdbcType="VARCHAR" property="reason" />
    </resultMap>

    <sql id="Base_Column_List">
        `ID`, `TITLE`, `CODE`, `REASON`
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from `T_CASE`
        where `ID` = #{id,jdbcType=BIGINT}
    </select>

</mapper>